table {
    @apply .border-collapse .w-full;
}

thead {
    @apply .text-blue-lighter;
}

th {
    @apply .font-normal .py-3;
}

tr {
    @apply .text-left .text-sm;
}

tbody tr:hover {
    @apply .bg-grey-light;
}

td {
    @apply .border-b .border-grey-lighterester .py-6;
}

th:first-child,
td:first-child {
    @apply .pl-6 .rounded-tl .rounded-bl;
}


th:last-child,
td:last-child {
    @apply .pr-6 .rounded-tr .rounded-br;
}
